
html,
body {
  background-color: #272838;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
Midnight Green Eagle: 0B3C49
Byzantium: 731963
White: FFFDFD
Light Gray: CBD2D0
Titanium Yellow: F0E100
*/